@using Nop.Web.Models.Flitts.Collection
@model CollectionsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All Collections";
}
@Html.Action("HeaderLinks", "Common")

<div class="collection">
    <div>
        <img src="~/Content/Images/uploaded/product/26.png" style="z-index:-1" class="d-none d-sm-block" />
        <img src="~/Content/Images/uploaded/product/collection.png" class="d-block d-sm-none" />
    </div>
    <div class="container" style="margin-top:80px;">
        <div class="collection-row-1">
            <div class="collection1">
                <img src="~/Content/Images/uploaded/product/9.png" class="img-collection" />
                <h3 class="text-center;">PRAYA TOP IN LIGHT BLUE MOROCCAN PRINT</h3>
                <p class="text-center;">IDR 329,000</p>
            </div>
            <div class="collection2">
                <img src="~/Content/Images/uploaded/product/13.png" class="img-collection" />
                <h3 class="text-center;">PRAYA TOP IN LIGHT BLUE MOROCCAN PRINT</h3>
                <p class="text-center;">IDR 329,000</p>
            </div>
        </div>
        <div class="collection-row-2">
            <div class="collection3">
                <img src="~/Content/Images/uploaded/product/14.png" class="img-collection-center" />
                <h3 class="text-center;">PRAYA TOP IN LIGHT BLUE MOROCCAN PRINT</h3>
                <p class="text-center;">IDR 329,000</p>
            </div>
        </div>
        <div class="collection-row-3">
            <div class="collection1">
                <img src="~/Content/Images/uploaded/product/15.png" class="img-collection" />
                <h3 class="text-center;">PRAYA TOP IN LIGHT BLUE MOROCCAN PRINT</h3>
                <p class="text-center;">IDR 329,000</p>
            </div>
            <div class="collection2">
                <img src="~/Content/Images/uploaded/product/16.png" class="img-collection" />
                <h3 class="text-center;">PRAYA TOP IN LIGHT BLUE MOROCCAN PRINT</h3>
                <p class="text-center;">IDR 329,000</p>
            </div>
        </div>
    </div>
</div>

@Html.Action("Footer", "Common")