@model CatalogPagingFilteringModel
@using Nop.Web.Models.Catalog;



<div>
    @*sorting*@
    @if (Model.AllowProductSorting)
    {
         <h4>Sort by</h4>

        var i = 1;
        foreach (var sort in Model.AvailableSortOptions)
        {
            var sort_name = sort.Text;
            if (sort.Text == "Position") {
                sort_name = "Newest Items";
            }

            if (sort_name != "Created on") {
                <div class="radio-alternate-new">
                    <label style="cursor: pointer;"><input type="radio" name="SortProduct" class="content-filter-sortby_@(i)" id="sortby_@(i)" value="sortby_@(i)">@sort_name</label>
                </div>
            }

            i++;
        }

        <div class="radio-alternate-new">
            <p style="cursor: pointer;" id="removesort"></p>
        </div>

    }
    @*page size*@
    @if (Model.AllowCustomersToSelectPageSize)
    {
        <div class="product-page-size">
            <span>@T("Catalog.PageSize")</span>
            @Html.DropDownList("products-pagesize", Model.PageSizeOptions, new { onchange = "setLocation(this.value);" })
            <span>@T("Catalog.PageSize.PerPage")</span>
        </div>
    }

</div>