
@{
    ViewBag.Title = "Done";
}

<div class="byob">


    @*<div class="steps">
        <div class="container">
            { Steps breadcrumb}
        </div>

    </div>*@

    <div class="container header">
        <h2>Step 4 of 4</h2>
        <h1>Done</h1>
        <p>
            &nbsp;
        </p>
    </div>


    <div class="col-main-slim text-center">
        <p style="font-size:25px; color:#80A9B8">
            <i class="fa fa-check fa-lg" aria-hidden="true"></i>
        </p>
      
        <p>
            Your custom box has been added into your bag.
        </p>

        <div class="mt-8">
            <a href="~/cart" class="btn btn-default btn-block mt-2">View Bag</a>

            <a href="~/byob/step1" class="btn btn-inverse btn-block mt-20">Build Another box</a>
        </div>
      


      

    </div>
   


</div>

