

@using (Ajax.BeginForm("CheckBalance", "Giftcards", new AjaxOptions
 {
     InsertionMode = InsertionMode.Replace,
     HttpMethod = "POST",
     OnFailure = "checkbalancefailed",
     LoadingElementId = "ajax-loader",
     UpdateTargetId = "giftcardcheckbalanceresult"

 }, new { id = "frmcheckbalance" }))
{
    <div class="mt-10">
        @Html.TextBox("code", null, new { @class = "form-control", placeholder = "E-Gift card code" })
        <input type="submit" value="Check Balance" class="btn btn-default checkBalance-mobile" style="margin-top:10px;" />
        <div id="giftcardcheckbalanceresult"></div>
    </div>

}