@model ProductDetailsModel
@using Nop.Web.Models.Catalog;


@*@if (Model.DisplayBackInStockSubscription)
{
    Html.AddScriptParts("~/Scripts/jquery.fancybox-1.3.4.pack.js");
    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox-1.3.4.css");
    <div class="back-in-stock-subscription">
        <input type="button" id="back-in-stock-subscribe-@Model.Id" class="button-2 subscribe-button" value="@T("BackInStockSubscriptions.NotifyMeWhenAvailable")" />
        <script type="text/javascript">
            $(document).ready(function() {
                $("#back-in-stock-subscribe-@Model.Id").fancybox({
                    'href': '@Url.RouteUrl("BackInStockSubscribePopup", new { productId = Model.Id })',
                    'speedIn': 600,
                    'speedOut': 200,
                    'width': 450,
                    'height': 255,
                    'type': 'iframe',
                    'centerOnScroll': true
                });
            });
        </script>
    </div>
}*@



<div id="back-in-stock-subscription" class="back-in-stock-subscription" style="display:none;">
    @*<span class="out-of-stock">Out of Stock</span>
        <br />
        <input type="button" id="back-in-stock-subscribe-@Model.Id" class="subscribe-button btn btn-default fancyboxPage" value="@T("BackInStockSubscriptions.NotifyMeWhenAvailable")" />*@
    @*<div class="warning-text">
        Sorry, This size is Out of Stock
    </div>*@
    <div class="mt-20"><h3>@T("BackInStockSubscriptions.NotifyMeWhenAvailable")</h3></div>
    <div class="form-group" style="vertical-align:top;">
        @*<input id="input-notify-phone" type="text" class="email" name="PHONE" value="" placeholder="enter your phone number" /><br />*@
        <input id="input-notify-email" class="form_signin email" type="email" name="EMAIL" value="" placeholder="enter your email address" /><br/><button id="submit-notify" type="button" name="subscribe" value="" class="btn btn-default submit-notifyme">Notify me</button>

    </div>
</div>


