@{ 
    Layout = null;
}

<html lang="en">
<head>
    <link href="~/favicon.ico" rel="shortcut icon">
    <title>The Clementines - Coming soon</title>
</head>
<body>
    <div style="background:url('/content/images/uploaded/assets/coming soon.png') no-repeat center center; background-size:cover; width:100%; height:100%;"></div>
</body>
</html>