
<p class="text-center">
  A new address has been added to your address book.
</p>
<br /><br />

    <input type="button" value="Close this window" class="btn btn-link closeFancybox">

</p>

<script>
    $(function () {
        $(document).on('click', '.closeFancybox', function () {
            $.fancybox.close();
        })
    });
</script>