

/*cataogue*/
.catalogs{
    
}

.catalogue-img {
    display: flex;
    /*padding-left: 170px;
    padding-right: 170px;
    padding-top:25px;*/
}


.mm-category{}
.mm-category li{ margin-bottom:13px}
.mm-category li > a{font-size:12px; color:#000; text-transform:uppercase;}

.mm-subcategory{}
.mm-subcategory li{margin-bottom:0;}
.mm-subcategory li > a{ font-size:12px; color:#707070; text-transform:capitalize; padding-left:23px}


/*Product Detail Page*/
.product-details{}
    .product-details h1 {
        font-family: 'GillSansMTPro-Medium';
        margin-top: 0;
        font-size: 16px;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing:0.68px;
    }

.product-description{
    max-width:700px;
    margin:0 auto 30px;
    padding-left:30px;
  
}

    .product-description h1 {
        font-family: 'GillSansMTPro-Medium';
        margin-top: 0;
        font-size: 16px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }


.product-description .description p, 
.description>ul>li{
    margin-bottom:0;
    line-height:18px;
}

.product-description .prices{

  font-size:12px;
  letter-spacing:1.4px;

    margin-bottom:30px;
}


.product-description .attributes{
    max-width:100%;
    height:45px;
    display:block;
}

.product-description .description {
    margin-top:28px
}
.product-description .description .card-header{
    border:none !important;
    border-radius:0;    
    
}
.product-description .description h5{
    font-size:11px;
    cursor:pointer;
    margin:8px 0;
    letter-spacing:1px;
    text-transform:uppercase;
}


.ddlAttrb{
    width:100% !important;
    font-size:11px !important;
    text-transform:uppercase;
}


/*badge*/
.prod-details .onsale {
    width: 50px;
    padding: 5px 10px;
    color: #ffffff;
    background: #a63a25;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size:0.92rem;
}



.detail-price {
    display: flex;
}
.main-price {
    font-size: 16px;
    color: #707070;
}
.discount-price{color: #FFAF42; font-size:14px;margin-left:20px;}
.detail-material{padding-left:12px;}
.discover-link{color:#707070;}
.caption-recommendation{margin-top:-40px; font-size:11px;line-height:10px;padding-left:20px;color:#000;}
.product-detail-another{
    grid-area:header2;
    display:flex;
}
.recommendation {
    grid-area: content1;
    display: flex;
}
.img-similar-overlay {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.img-similar-overlay:hover .image-similar-thumb {
    opacity: 0.6;
   /*background-color: rgba(255, 0, 0, 0.3);*/
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}



.img-similar-overlay:hover .text-overlay {
    opacity: 1;
}

.text-overlay, .text-overlay>p:hover {
    transition: .5s ease;
    opacity: 0;
}

.text-overlay {
    margin-top: -90px;
    padding: 10px;
    line-height: 20px;
    color:#000000 !important;
    text-transform:uppercase;
}

.text-overlay .old-price{
    text-decoration:line-through;
    display:block;
}

.select-size {
    display: flex;
    justify-content: space-between;
    color: #707070;
    font-size: 13px;
}

.select-size ol,
.select-size ul{margin-bottom:0;}

.form-select-size>input {
    display: none;
}

    .form-select-size > input:checked + label {
        color: #FFAF42;
        font-weight: 500;
    }

.form-select-size>label {
    cursor: pointer;
    display: inline-block;
    border: solid 1px transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.form-select-size>label:last-child {
    margin-right: 0;
}

    .form-select-size > label:hover {
        color: #FFAF42;
        font-weight: 500;
    }


.select-quantity {
    font-size: 11px;
    padding:3px;
    color: #000;
    height: 30px;
    border: 1px solid #000;
    cursor:pointer;
}
.quantity-btn {
    background-color: transparent;
    border-color: transparent;
    color:#000;
    width:50px;
}
/*end of product detail*/


/*collection page*/

.collection-row-1 {
    grid-area: header2;
    display: flex;
    justify-content: space-between;
}
.collection-row-2 {
    grid-area: content1;
    display: flex;
    justify-content: center;
}
.collection-row-3 {
    grid-area: content2;
    display: flex;
    justify-content: space-between;
}
.collection1{padding-left:94px;}
.collection2{padding-right:94px;}
.collection1>h3, .collection1>p, .collection2>h3, .collection2>p, .collection3>h3, .collection3>p{font-size:14px; color:#000; text-align:center;}
/*end of collection page*/


.image__blur{
    opacity: 0.6;
}

.image__blur:hover{
    opacity: 0.6;
}



/*.description {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}*/


@media (max-width: 575.98px) {
    .img-shopall{width: 187.49px;}
    .product1, .product2, .product3, .product4{padding-left:0;padding-right:0;}
    .img-collection{width: 187.49px;}
    .img-collection-center{width: 375.97px;}
    .collection1, .collection2{padding-left:0;padding-right:0}
    .product-detail{flex-direction:column;}
    .img-detail{width:375.97px;}
    .product-description{padding:20px; margin-top:20px;}
    .img-recommendation{width:164.39px;}
    .name_item, .price_item{font-size:12px;}
    .collection1>h3, .collection1>p, .collection2>h3, .collection2>p, .collection3>h3, .collection3>p{font-size:12px;line-height:18px;}
    .shop-1 {
        grid-column: 1 / 5;
        grid-row: 1;
        margin-right: 0;
        flex-direction: column;
    }
    .shop-1_text, .shop-2_text, .shop-3_text, .shop-4_text, .shop-5_text {display:flex;flex-direction:row; justify-content:space-between; margin-left:20px;}
    .shop-2 {
        grid-column: 1 / 5;
        grid-row: 2;
        margin-right: 0;
        flex-direction: column;
    }
    .shop-3 {
        grid-column: 1 / 5;
        grid-row: 3;
        margin-right: 0;
        flex-direction: column;
    }
    .shop-4 {
        grid-column: 1 / 5;
        grid-row: 4;
        margin-right: 0;
        flex-direction: column;
    }
    .shop-5 {
        grid-column: 1 / 5;
        grid-row: 5;
        margin-right: 0;
        flex-direction: column;
    }
    .catalogue-img {
        padding-left: 0px;
        padding-right: 0px;
        padding-top:0px;
    }
    .product-detail {padding-left: 0px;padding-right: 0px;
}
}


/*******/

h1.cataloque-name {
    color: #1c1c1c;
    font-size: 18px;
    text-transform: lowercase;
    line-height: 1em;
}


.catalog-line {
    
}

.product-item {margin-bottom: 47px; text-align:center;}
    .product-item h3 {
        font-weight: normal;
        text-transform: unset;
        text-transform: uppercase;
        line-height: 1em;
        font-size: 11px;
        color: #1C1C1C;
    }

    .product-item h4 {
        font-style: normal;
        font-size: 11px;
        margin-bottom: 4px;
        text-transform:uppercase;
    }
.product-item img{}


    .product-item a {
        display: inline;
        color: #1C1C1C
    }
.product-item .img-thumbnail {border: none;border-radius: 0; max-width: 100%;padding: 0;width: 100%;}
.product-item .description {
    margin-top: 18px; 
    min-height: 50px; 
    text-align:left;
    font-size:12px;
}

.product-item .description ul {list-style:none;}


.product-item  .prices {
    padding-top: 0;
    letter-spacing:0.56px;
}
.price {display: inline-block;}
.old--price {color: #b8b8b8;}
.price .actual--price{color:#1c1c1c}
.product-item .price + .price {
    margin-left: 6px;
    color: #1c1c1c
}


.new-item,
.out-of-stock {
    text-transform: uppercase;
    color: #ff6666;
}


.description.soldout,
.description.soldout a,
.description.soldout h4,
.description.soldout p,
.description.soldout .prices,
.description.soldout .actual--price {
    color: #b8b8b8 !important;
}

.pager{
width:100%;
display:block;
margin:40px 0;
text-align:right;
text-transform:uppercase;
font-size:12px !important;
}

.pager ul{
    list-style:none;
}

.pager ul li{
    display:inline-block;
    margin-left:14px;
}

.pager ul li.current-page{
    color:#b8b8b8;
}


    /*.product-detail-image{
    width:66.66667%;
}

@media (max-width: 575.98px) {
    .product-detail-image{
        width:100%;
    }
}*/
    .product-detail h1 {
        font-family: GillSansMTPro-Book;
        font-weight: 400;
        color: #2F2F2F;
        text-transform: uppercase;
        line-height: 1.5em;
        font-size: 16px;
    }

.product-detail h2{
    font-size:14px;
    line-height:18px;
    color:#707070;

}

.product-detail .prices .old-product-price{color:#707070;}
.product-detail .prices .product-price{color: #2F2F2F; font-size:16px;}

.qty_txt{margin-bottom:10px;}

.desc_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.name_item, .price_item{margin:auto;font-size:16px;text-align:center;
}
.price_item {
   
}


.form-select-size input {
    display: none;
}

.form-select-size label {
    cursor: pointer;
    display: inline-block;
    border: solid 1px transparent;
    min-width: 30px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #707070;
}

.form-select-size input:checked + label {
    color: #2F2F2F;
    font-weight: 500;
    border-bottom:1px solid #2f2f2f;
}



.form-select-size label:last-child {
    margin-right: 0;
}

.form-select-size label:hover {
    color: #2F2F2F;
    font-weight: 500;
}

.form-select-size label.out-of-stock{color:#534D4C !important; text-decoration:line-through;}



#EnteredQuantity {
    background-color: transparent;
    border: none;
    color:#000;
    text-align: center;
    width:100%;
    height:20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/******/
.related-products {
    margin: 0 auto;
    margin-top:5em;
    padding: 30px 0;
    background-color: #efefef
}

.related-products h2{text-align:center;}

.related-products .row{
    margin-left:-5px;
    margin-right:-5px;
}

.related-products .related-products-item{
  padding-left:10px;
  padding-right:10px;
}

.cross-sells{ }
.cross-sells .row{   
    /*margin-left:0;
    margin-right:0;*/

}
.cross-sells .cross-sells-item{ /*padding-right:0; padding-left:0;*/ }



/*notify me*/
#input-notify-email{
    width:300px;
}
#submit-notify{
    min-width: 20px;
}


