/* FOOTER */
/*footer {padding: 29px 100px;margin-left: calc(-50vw + 50%);margin-right: calc(-50vw + 50%);letter-spacing:0.1em;font-size:10px;color:#FFFFFF;background-color:#EECDCB}*/
footer {
    width: 100vw;
    height: 91px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    font-size: 12px;
    color: black;
    background-color: #E6E4DC;
    font-family: 'Carrois Gothic';
}
    
footer section {
    width: 1366px;
    margin:0 auto;
    padding: 95px 0 0;
}
footer a {
    color: #FFFFFF;
    padding: 3px 0;
}
footer .img-footer{width:100%; max-width:160px;}
footer .copyright,
footer .copyright ul li > a {font-size: 0.84rem;}

footer .nav-item{text-transform:unset;}




footer .copyright .content__copyright{max-width:300px;width:100%;margin-left:61vw}

footer .footer__location{display:block;width:200px;line-height:16px;margin-top:34px}

.navbar-footer{
    display: flex;
    max-width: 1920px !important;
    padding-top: -100px;
}


footer .newsletter {padding: 0;max-width: 100%;}
footer .newsletter p {margin: 12px 0 10px;}
footer .lnk-footer {margin-bottom: 0;}
footer .lnk-footer-email {padding-top: 20px;margin-bottom: 0;}
footer .lnk-footer-email li {font-size: 0.92rem;letter-spacing: 1px;}
footer .lnk-footer-email a {color: #878787;font-size: 0.92rem;letter-spacing: 1px;}
footer ul.social {display: inline-flex}
footer ul li + li {padding-left: 0;padding-right: 0}
footer .Footer__line{border-bottom:1px solid white;margin:10px -10px 10px -10px}
footer h6 {
   color: #ffffff;
   font-size: 15px;
   letter-spacing: 2px;
   font-weight: normal;
}
.siteby {text-transform: lowercase;}

#footer_left {margin-left:80px; padding-top:20px;}
#footer_right {margin-right:80px;}
#footer_center {
    margin-left:-75px;
}
.social-logo {
    display: flex;
    justify-content: flex-end;
    padding-top:10px;
}
.copyright-text {
    font-size: 10px;
    color: #707070;
}
/*END OF FOOTER*/

/* NEWSLETTER */
#nieuwsbrief,
#nieuwsbrief-mobile {margin: -15 auto;}
    #nieuwsbrief input.email,
    #nieuwsbrief-mobile input.email {
        -webkit-appearance: none;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box;
        line-height: normal;
        border: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: -moz-use-text-color -moz-use-text-color #838386;
        -moz-border-image: none;
        -o-border-image: none;
        -webkit-border-image: none;
        border-image: none;
        border-style: none none solid;
        border-width: thin thin 1px;
        height: 16px;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #000;
        border-radius: 0;
        width: 85%;
        display: inline-block;
        text-transform: uppercase;
        background-color: transparent;
        text-align: left;
        color: black;
    }

#nieuwsbrief input[type="submit"],
#nieuwsbrief-mobile input[type="submit"] {background-color: rgba(0, 0, 255, 0);border: 0 none;display: inline;margin: 0;padding: 0;text-transform: uppercase;}
#nieuwsbrief #mc-embedded-subscribe { background-color: transparent;border: none;margin-left:-1vw}


#nieuwsbrief #mc-embedded-subscribe{
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background-image: url('/Content/images/transfer.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 20px;
    border:none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom:4px;
    margin-left:-5px;
}
/*end newsletter*/

/*card*/
footer .card{padding-left:14px;}
footer [data-toggle="collapse"]:after {margin-top:3px;margin-left:56vw}
footer [data-toggle="collapse"]:after .sub{margin-top:3px;margin-left:68vw}
footer a:focus, a:hover{color:white}
footer a:hover, a:focus, a:active{color:white}
/*end*/
/*media query*/
@media (max-width: 575.98px) {
    footer {padding: 0;height:250px;}
    .navbar-footer{flex-direction:column; padding:0 35px 0 35px;}
    #footer_left{flex-direction:row;}
    #footer_left {margin-left:0px; padding-top:5px;justify-content:space-between;}
#footer_right {margin-right:0px;}
#footer_center {margin-left:0;padding-left:20px;}
.social-logo {
    display: flex;
    justify-content: center;
    padding-top:5px;
}
.copyright-text {
    font-size: 15px;
    color: #707070;
    text-align:center;
}
    }


    @media screen and (max-width: 767px) {
        footer {
            padding: 10px;
            text-align: left
        }

            footer .card .card-body ul li > a {
                font-size: 13px;
            }

            footer section {
                padding: 0
            }
    }

    @media (min-width: 768px) and (max-width: 1079px) {
        footer {
            padding: 14px 1.5% 13px;
        }
    }


/*******/
 @media screen and (min-width: 768px){

#footer_left, 
#footer_right,
#footer_center {
    min-width:400px;
}

#footer_center{
    margin-left:auto;
    margin-right:auto;
}
#footer_right{
    text-align:right;

}



 }
